$borderColor: #F0F2F3;
$mainBorderColor: #E5E5E5;
$selectedElem: #FF4F49;
$firstSimbol: #FF3029;
$greyColor: #7F8285;
$lowGreyColor: #B8BEC3;
$blueColor: #1774E9;
$activeCommit: #4F4F4F;
$nameListCommit: #434445;
$indentAroundBody: 32px;
   
   
.main__all-files-mobile{
    display: none;
}

@media (max-width: 700px){
    .main{
        &__all-files-desktop{
            display: none;
        }
        &__all-files-mobile{
            display: block;

            .info-file{
                display: grid;
                grid-template-columns: none;
                grid-template-rows: 1fr 1fr 1fr;
                justify-content: space-between;
                position: relative;
                padding-left: 0;
                padding-bottom: 8px;
                border-bottom: 1px solid $borderColor;
        
                .link-commit{
                    text-decoration: none;
                }
                li{
                    font-size: 14px;
                    line-height: 20px;
                    list-style: none;
                    &:first-child{
                        margin-left: 0px;
                    }
        
                    &:last-child{
                        margin-right: 8px;
                        text-align: start;
                    }

                    span{
                        color: #1774E9;
                    }
                    
                }
                .name-file{
                    .picture{
                        display: inline-block;
                        padding-right: 8px
                    }
                    
                }
                .hash-commit{
                    color: $blueColor;
                }
        
                .commiter{
                    &::first-letter{
                        color: $firstSimbol;
                    }
                }
                &:last-child{
                    border-bottom: 0px;
                }

                &::after{
                    content: '';
                    width: 15px;
                    height: 15px;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: rotate(45deg) translateY(-50%);
                    border-right: 1px solid #E5E5E5;
                    border-top: 1px solid #E5E5E5;
                }
            }
        }
    }
}