$borderColor: #F0F2F3;
$mainBorderColor: #E5E5E5;
$selectedElem: #FF4F49;
$firstSimbol: #FF3029;
$greyColor: #7F8285;
$lowGreyColor: #B8BEC3;
$blueColor: #1774E9;
$activeCommit: #4F4F4F;
$nameListCommit: #434445;
$indentAroundBody: 32px;


.show-file{
    margin-left: $indentAroundBody;
    margin-right: $indentAroundBody;
    // height: 237px;
    border: 1px solid #E5E5E5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    &__name{
        display: flex;
        justify-content: space-between;
        padding: 14px 0px 8px 16px;
        background-color: #F5F5F5;
    }
    &__size{
        color: #999999;
    }
    .picture{
        display: inline-block;
        padding-right: 8px;
        padding-top: 1px;
    }

    .download-file{
        padding:1px 6px;
        margin-right: 10px;
        border: 1px solid #999999;
        border-radius: 3px;
        cursor: pointer;
    }
    h2{
        margin-top: 25px;
        margin-left: 32px;
    }

    p{
        margin-left: 32px;
        margin-right: 216px;
        font-size: 14px;
        line-height: 18px;
    }

    &__contents-code{
        margin-left: 15px;
        li{
            position: relative;
            padding-left: 32px;
            padding-top: 5px;
            font-family: PT Mono;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 20px;
            // color: #8694A2;

            &:first-child{
                color: #999999;
            }

            .tag-bold-in-code{
                font-weight: bold;
            }

            .name-function-in-code{
                color: $blueColor;
                font-weight: bold;
            }

                position: relative;
                &::before{
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    content: '';
                    background-color: white;
                    left: -13px;
                    top: 15px;
                }
        }

        .type-string{
            color: $blueColor;
        }
    }
}