@media screen and (max-width: 768px){
    .main__all-files .info-file {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: none;
        position: relative;
        &::after{
            content: '';
            width: 15px;
            height: 15px;
            position: absolute;
            right: 0;
            top: 30%;
            transform: rotate(45deg) translateY(-50%);
            border-right: 1px solid #E5E5E5;
            border-top: 1px solid #E5E5E5;
        }
    }

    .main__all-files .name-columns{
        display: none;
    }
}