$borderColor: #F0F2F3;
$mainBorderColor: #E5E5E5;
$selectedElem: #FF4F49;
$firstSimbol: #FF3029;
$greyColor: #7F8285;
$lowGreyColor: #B8BEC3;
$blueColor: #1774E9;
$activeCommit: #4F4F4F;
$nameListCommit: #434445;
$indentAroundBody: 40px;
.commit-in-day{
    .info-commit {
        display: grid;
        grid-template-columns: 4fr 1fr 1fr;
        justify-content: space-between;
        padding-left: 0;
        padding-bottom: 8px;
        margin-left: 12px;
        li.info-commit__hash, &__link{
            text-align: end;
        }
        li{
            list-style: none;
        }
    

    
        &__name{
            font-weight: bold;
        }

        &::before{
            content: '';
            position: absolute;
            width: 40px;
            height: 40px;
            left: $indentAroundBody - 12px;
            background-color: #EBF6FD;
            border-radius: 50%;
            margin-right: 12px;
            background-image: url(../image/Vector.svg);
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }

        &-line{
            &::after{
                position: absolute;
                width: 40px;
                height: 2px;
                content: '';
                transform: rotate(90deg);
                background-color: #B8BEC3;
                margin-top: 63px;
                left: 30px;
            }
        }


        &__hash{
            color: $blueColor;
        }

        &__date-change{
            .name{ 
                display: inline-block;
                &::first-letter{

                    color: $firstSimbol;
                }
            }
        }

        &__massage{
            margin: 5px 0;
        }
    }

    h3{
        color: #7F8285;
        margin-left: $indentAroundBody + 12px;
    }
}

