@media screen and (max-width: 768px){
    .header{
        margin-top: 20px;
    }
    .main__repo-path{
        flex-wrap: wrap;
    }
    .show-file{
        border:none;
        margin-right: 0px;
        margin-left: 0px;
        &__contents{
            word-break: break-all;

            li{
                padding-left: 10px;
            }
        }
    }
}