$headerBorderColor: #F0F2F3;
$selectedElem: #FF4F49;

.header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 55px;
    padding-left: 32px;
    border-bottom: 1px solid $headerBorderColor;

    &__repo{
        margin-left: 40px;
        cursor: pointer;
        &-text{
            position: relative;
            font-size: 14px;
            line-height: 18px;
            &::after{
                content: '';
                width: 100%;
                position: absolute;
                left: 0;
                bottom: calc(-55px / 2 + 6px);
                border: 2px solid $selectedElem;
                pointer-events: none;
            }
        }

        &:hover{
             .header__toggle-icon{
                transform: rotate(180deg);
             }
        }
    }

    &__toggle-icon{
        margin-left: 6px;
    }
}