$borderColor: #F0F2F3;
$mainBorderColor: #E5E5E5;
$selectedElem: #FF4F49;
$firstSimbol: #FF3029;
$greyColor: #7F8285;
$lowGreyColor: #B8BEC3;
$blueColor: #1774E9;
$activeCommit: #4F4F4F;
$nameListCommit: #434445;
$indentAroundBody: 32px;
$borderSizeActiveElem: 3px;

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

